<% if display_game? %>
  <div class="col-md-4">
    <%= render partial: 'chat' %>
    <div id="scoreboard"></div>
  </div>
  <div class="col-md-8">
    <canvas id="stage" width="500" height="500">
      Canvas not supported.
    </canvas>
  </div>
<% else %>
  <%= link_to image_tag('facebook_login.png'), user_omniauth_authorize_path(:facebook) %>
  <br/>
  <%= link_to "or play as a guest", root_path(guest_mode:true) %>
<% end %>
